.EmployeeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EmployeeForm h1{
  font-family: 'Georgia, 'Times New Roman', Times, serif';
}
.EmployeeForm label {
  margin-bottom: 0.5rem;
}

.EmployeeForm input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
#name{
  margin-right: 3px;
}

#lbltitle{
margin-left: 5px;
}
  
#department{
margin-right: 50px;
}


.EmployeeForm button {
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.EmployeeList {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  align-items: center;
}

.EmployeeList h1 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.EmployeeList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #2c8ee9;
  font-family: 'Georgia, 'Times New Roman', Times, serif';
}

.EmployeeList li {
  margin-bottom: 8px;
}

.EmployeeList li a {
  color: #007bff;
  text-decoration: none;
}

.employee-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee-detail label {
  font-weight: bold;
}

.employee-detail table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

.employee-detail td, .employee-detail th {
  border: 1px solid #ddd;
  padding: 8px;
}

.employee-detail tr:nth-child(even){background-color: #f2f2f2;}

.employee-detail tr:hover {background-color: #ddd;}

.employee-detail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0077cc;
  color: white;
}
