.EmployeeForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /*background-color: aqua;*/
  /*align-items: center;*/
}
.EmployeeForm h1{
  font-family: 'Georgia, 'Times New Roman', Times, serif';
  font-weight: bold;
  color:#333
}
.EmployeeForm label {
  margin-bottom: 0.5rem;
}

.EmployeeForm input {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.EmployeeForm button {
  padding: 0.5rem 1rem;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

}

.EmployeeList {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  align-items: center;
}

.EmployeeList h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.EmployeeList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #007bff;
  font-family: 'Georgia, 'Times New Roman', Times, serif';
  
}

.EmployeeList li {
  margin-bottom: 8px;
}

.EmployeeList li a {
  color: #007bff;
  text-decoration: none;
  font-size: 24px;
}

.EmployeeDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
.EmployeeDetail label {
  font-weight: bold;
}

.EmployeeDetail table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
}

.EmployeeDetail td, .EmployeeDetail th {
  border: 1px solid #ddd;
  padding: 8px;
}

.EmployeeDetail tr:nth-child(even){background-color: #f2f2f2;}

.EmployeeDetail tr:hover {background-color: #ddd;}

.EmployeeDetail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0077cc;
  color: white;
}
